/* Programación de servicios y procesos */

/* Tabla de contenidos capítulo */
.toc {}

/* Navegación documento */
.pie .previo {}
.pie .inicio {}
.pie .siguiente {}

/* Entorno de imágenes */
.image {}

/* Leyenda de las imágenes */
.image .caption {
	margin-top: 0.15em;
	font-size: 0.65em;
}

/* Referencia textual */
.cita {}

/* Autor de la referencia textual */
.cita .autor {}

/* Llamada al sistema operativo */
.llamadaSO {
	font-style: oblique;
}

/* Clase de Java */
.clase {}

/* Método de Java */
.metodo {}

/* Código de ejemplo */
.code {
	margin-left: 2em;
	font-family: Courier, 'Courier New', 'Lucida Console', monospace;
}


/**/

aside {
	border: solid;
	margin-bottom: 1em;
}

