/* Programación de servicios y procesos */
/* Author:   Antonio Cepero
   Created:  2021-06-14
   Modified: 2021-08-23
*/

/* Tabla de contenidos capítulo */
.toc {}

/* Navegación documento */
.pie .previo {}
.pie .inicio {}
.pie .siguiente {}

/* Entorno de imágenes */
.image {}

/* Leyenda de las imágenes */
.image .caption {
	margin-top: 0.15em;
	font-size: 0.65em;
}

/* Referencia textual */
.cita {}

/* Autor de la referencia textual */
.cita .autor {}

/* Llamada al sistema operativo */
.llamadaSO {
	font-style: oblique;
}

/* Clase de Java */
.clase {}

/* Método de Java */
.metodo {}

/* Código de ejemplo */
.code {
	margin-left: 2em;
	font-family: Courier, 'Courier New', 'Lucida Console', monospace;
	white-space: pre;
}

/* Modificado con respecto a uno anterior */
.modificado {
	color: #0264e6;
}

/* Palabra especial o reservada */
.palabra {
	color: #e61703;
	font-weight: bold; 
}

/**/

aside {
	border: solid;
	margin-bottom: 1em;
}

/* Copiado de W3Schools */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 20em;
  background-color: #135fcd;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 1em;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #135fcd transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
